.grid_container{
    display: grid;
    grid-template-columns:1fr 4fr;
}

.first_row{
    display: flex;
}
.first_row>input{
    border-radius: 15px;
}

.second_row{
    display: flex;
}
.second_row button{
    border-radius: 15px;
}